@media screen {
  .testimony-c {
    gap: 20px;
    height: 100%;
    display: flex;
    padding: 50px 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .testimony-a {
    flex: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .testimony-a h1 {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    color: var(--primary-color);
  }

  .testimony-a h2 {
    font-size: 1rem;
    text-align: center;
    color: var(--tiary-color);
  }

  .testimony-container {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .appreciation-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    object-position: center;
  }

  .testimony-card {
    width: 100%;
    display: flex;
    height: 100px;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    color: rgb(201, 201, 201);
    box-shadow: var(--drop-shadow);
    background-color: var(--background-color);
  }

  .testimony-card p {
    font-size: 1.2rem;
  }

  .profile-test {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-test h3 {
    font-size: 1rem;
  }

  .profile-test h4 {
    font-size: 0.9rem;
    color: rgb(201, 201, 201);
  }

  .test-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 360%;
    object-position: center;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .testimony-c {
    gap: 60px;
    padding: 50px ;
    align-items: start;
    flex-direction: row;
  }

  .testimony-a {
    flex: 50%;
    align-items: start;
  }

  .testimony-a h1 {
    text-align: start;
  }

  .testimony-a h2 {
    text-align: start;
  }

  .testimony-container {
    flex-direction: row;
  }

  .testimony-card {
    width: 400px;
  }

}
